@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,900&display=swap");
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-ms-viewport {
  width: device-width; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

::-moz-selection {
  color: #000;
  background: #ff943b; }

::selection {
  color: #000;
  background: #ff943b; }

body::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-thumb {
  background-color: #ff943b; }

a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
figure,
main,
article,
section,
object {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (max-width: 767px) {
  .container-fluid {
    max-width: 720px; } }

@media (min-width: 768px) {
  .container-fluid {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container-fluid {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1170px; } }

@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1360px; } }

@media (min-width: 1650px) {
  .container-fluid {
    max-width: 1720px; } }

@media (min-width: 1200px) and (max-width: 1399px) {
  .container-fluid {
    max-width: 1300px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.gridify {
  padding: 0 15px; }

#navigation {
  padding: 20px 0;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  position: fixed;
  width: 100%;
  top: 30px;
  z-index: 9999; }
  #navigation.is-scrolling {
    background: #ff943b;
    top: 0; }
    #navigation.is-scrolling .nav_item li a:hover {
      color: #883e00 !important; }
  #navigation .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #navigation .navbar .nav_item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      #navigation .navbar .nav_item li a {
        color: #fff;
        text-transform: capitalize;
        padding: 0 0 0 40px;
        font-size: 18px;
        -webkit-transition: all ease-in .3s;
        -o-transition: all ease-in .3s;
        transition: all ease-in .3s; }
        #navigation .navbar .nav_item li a:hover {
          color: #ff943b; }

#banner {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 21, 0, 0.6)), to(rgba(47, 21, 0, 0.6))), url("../images/banner_img.png");
  background-image: -webkit-linear-gradient(rgba(47, 21, 0, 0.6), rgba(47, 21, 0, 0.6)), url("../images/banner_img.png");
  background-image: -o-linear-gradient(rgba(47, 21, 0, 0.6), rgba(47, 21, 0, 0.6)), url("../images/banner_img.png");
  background-image: linear-gradient(rgba(47, 21, 0, 0.6), rgba(47, 21, 0, 0.6)), url("../images/banner_img.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  margin-bottom: 125px; }
  @media only screen and (min-width: 1650px) {
    #banner {
      margin-bottom: 150px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #banner {
      margin-bottom: 110px; } }
  @media (max-width: 1199px) {
    #banner {
      margin-bottom: 60px; } }
  @media (max-width: 767px) and (orientation: landscape) {
    #banner {
      height: 680px;
      background-position: center;
      background-size: cover; } }
  #banner .banner_title {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transform: translate(0, 70px);
    -ms-transform: translate(0, 70px);
    transform: translate(0, 70px); }
    @media (max-width: 767px) and (orientation: landscape) {
      #banner .banner_title {
        -webkit-transform: translate(0, 230px);
        -ms-transform: translate(0, 230px);
        transform: translate(0, 230px); } }
    #banner .banner_title h1 {
      font-size: 85px;
      color: #fff;
      font-weight: 800;
      line-height: 82px;
      margin-bottom: 35px; }
      @media only screen and (min-width: 1650px) {
        #banner .banner_title h1 {
          font-size: 100px;
          line-height: 92px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #banner .banner_title h1 {
          font-size: 75px;
          line-height: 72px; } }
      @media (max-width: 1199px) {
        #banner .banner_title h1 {
          font-size: 70px;
          line-height: 70px;
          margin-bottom: 30px; } }
      @media (max-width: 610px) {
        #banner .banner_title h1 {
          font-size: 60px;
          line-height: 60px; } }
      @media (max-width: 610px) {
        #banner .banner_title h1 {
          font-size: 46px;
          line-height: 50px; } }
      #banner .banner_title h1 span {
        color: #ff943b; }
    #banner .banner_title .ms_slider {
      display: inline-block;
      height: 89px;
      overflow: hidden;
      vertical-align: top; }
      @media only screen and (min-width: 1650px) {
        #banner .banner_title .ms_slider {
          height: 99px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #banner .banner_title .ms_slider {
          height: 79px; } }
      @media (max-width: 1199px) {
        #banner .banner_title .ms_slider {
          height: 69px; } }
      @media (max-width: 610px) {
        #banner .banner_title .ms_slider {
          height: 59px; } }
      @media (max-width: 425px) {
        #banner .banner_title .ms_slider {
          height: 49px; } }
      #banner .banner_title .ms_slider .ms_slider__words {
        display: inline-block;
        -webkit-animation-name: wordSlider;
        animation-name: wordSlider;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 6s;
        animation-duration: 6s;
        animation-direction: reverse; }
        #banner .banner_title .ms_slider .ms_slider__words .ms_slider__word {
          display: block;
          text-align: left; }

@-webkit-keyframes wordSlider {
  0%,
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  36%,
  60% {
    -webkit-transform: translateY(-32%);
    transform: translateY(-32%); }
  66%,
  90% {
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%); }
  96%,
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes wordSlider {
  0%,
  30% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  36%,
  60% {
    -webkit-transform: translateY(-32%);
    transform: translateY(-32%); }
  66%,
  90% {
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%); }
  96%,
  100% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
    #banner .banner_title p {
      max-width: 100%;
      font-size: 20px;
      color: #fff;
      line-height: 34px;
      margin-bottom: 80px; }
      @media only screen and (min-width: 1650px) {
        #banner .banner_title p {
          width: 62%; } }
      @media (max-width: 610px) {
        #banner .banner_title p {
          font-size: 18px; } }
      @media (max-width: 425px) {
        #banner .banner_title p {
          font-size: 16px; } }
      @media (max-width: 736px) and (orientation: landscape) {
        #banner .banner_title p {
          margin-bottom: 50px; } }
    #banner .banner_title a {
      max-width: 20%;
      position: relative;
      color: #fff;
      text-transform: capitalize;
      font-size: 26px;
      font-weight: 600;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s; }
      @media (max-width: 991px) {
        #banner .banner_title a {
          max-width: 27%; } }
      @media (max-width: 610px) {
        #banner .banner_title a {
          display: none; } }
      #banner .banner_title a::after {
        position: absolute;
        top: -20px;
        right: 40px;
        content: "";
        background: #ff943b;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        z-index: 1;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        @media only screen and (min-width: 1650px) {
          #banner .banner_title a::after {
            right: 110px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #banner .banner_title a::after {
            width: 70px;
            height: 70px;
            top: -15px;
            right: 38px; } }
        @media (min-width: 1200px) and (max-width: 1260px) {
          #banner .banner_title a::after {
            right: 25px; } }
        @media (max-width: 1199px) {
          #banner .banner_title a::after {
            width: 65px;
            height: 65px;
            top: -10px;
            right: -25px; } }
      #banner .banner_title a img {
        z-index: 2;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        @media (max-width: 1199px) {
          #banner .banner_title a img {
            margin-top: -30px; } }
      #banner .banner_title a:hover::after,
      #banner .banner_title a:hover img {
        -webkit-transform: translate(20px, 0);
        -ms-transform: translate(20px, 0);
        transform: translate(20px, 0); }

#aboutus {
  margin-bottom: 300px; }
  @media only screen and (min-width: 1650px) {
    #aboutus {
      margin-bottom: 330px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #aboutus {
      margin-bottom: 280px; } }
  @media (max-width: 1199px) {
    #aboutus {
      margin-bottom: 370px; } }
  @media (max-width: 991px) {
    #aboutus {
      margin-bottom: 330px; } }
  @media (max-width: 767px) {
    #aboutus {
      margin-bottom: 200px; } }
  @media (max-width: 610px) {
    #aboutus {
      margin-bottom: 70px; } }
  #aboutus .about_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 1199px) {
      #aboutus .about_wrap {
        display: block;
        position: relative; } }
    #aboutus .about_wrap .about_title {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-transform: translate(60px, 0);
      -ms-transform: translate(60px, 0);
      transform: translate(60px, 0);
      text-align: right;
      position: relative;
      z-index: 99; }
      @media (max-width: 425px) {
        #aboutus .about_wrap .about_title .main_title {
          text-align: center; } }
      #aboutus .about_wrap .about_title .main_title h2 {
        font-family: 'Barlow', sans-serif;
        font-size: 100px;
        font-weight: 800;
        color: #000;
        text-transform: uppercase;
        line-height: 100px;
        margin: 30px 0 30px 0; }
        @media only screen and (min-width: 1650px) {
          #aboutus .about_wrap .about_title .main_title h2 {
            font-size: 110px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #aboutus .about_wrap .about_title .main_title h2 {
            font-size: 80px;
            margin: 15px 0 10px 0;
            line-height: 80px; } }
        @media (max-width: 1199px) {
          #aboutus .about_wrap .about_title .main_title h2 {
            font-size: 70px;
            line-height: 65px;
            margin: 0 0 10px 0; } }
        @media (max-width: 425px) {
          #aboutus .about_wrap .about_title .main_title h2 {
            font-size: 40px;
            line-height: 44px; } }
        #aboutus .about_wrap .about_title .main_title h2 span {
          font-family: 'Open Sans', sans-serif;
          display: block;
          font-size: 22px;
          font-weight: 600;
          color: #000;
          text-transform: capitalize;
          line-height: 30px; }
          @media only screen and (min-width: 1650px) {
            #aboutus .about_wrap .about_title .main_title h2 span {
              font-size: 24px; } }
          @media only screen and (min-width: 1200px) and (max-width: 1399px) {
            #aboutus .about_wrap .about_title .main_title h2 span {
              font-size: 20px; } }
          @media (max-width: 425px) {
            #aboutus .about_wrap .about_title .main_title h2 span {
              font-size: 18px; } }
      #aboutus .about_wrap .about_title .main_title p {
        font-size: 18px;
        color: #000;
        line-height: 36px;
        margin-bottom: 40px; }
        @media only screen and (min-width: 1650px) {
          #aboutus .about_wrap .about_title .main_title p {
            font-size: 20px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #aboutus .about_wrap .about_title .main_title p {
            font-size: 18px;
            margin-bottom: 20px; } }
        @media (max-width: 425px) {
          #aboutus .about_wrap .about_title .main_title p {
            font-size: 18px;
            line-height: 30px; } }
      @media (max-width: 1199px) {
        #aboutus .about_wrap .about_title {
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0); } }
      #aboutus .about_wrap .about_title .about_plan {
        display: inline-block;
        text-align: left;
        background: #fff;
        -webkit-box-shadow: 0 10px 50px rgba(208, 208, 208, 0.5);
        box-shadow: 0 10px 50px rgba(208, 208, 208, 0.5); }
        @media (max-width: 1199px) {
          #aboutus .about_wrap .about_title .about_plan {
            -webkit-transform: translate(-500px, 60px);
            -ms-transform: translate(-500px, 60px);
            transform: translate(-500px, 60px); } }
        @media (max-width: 991px) {
          #aboutus .about_wrap .about_title .about_plan {
            -webkit-transform: translate(-320px, 60px);
            -ms-transform: translate(-320px, 60px);
            transform: translate(-320px, 60px); } }
        @media (max-width: 767px) {
          #aboutus .about_wrap .about_title .about_plan {
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            display: block;
            width: 80%;
            margin: 0 auto; } }
        @media (max-width: 767px) {
          #aboutus .about_wrap .about_title .about_plan {
            width: 100%; } }
        @media (max-width: 425px) {
          #aboutus .about_wrap .about_title .about_plan {
            text-align: center; } }
        #aboutus .about_wrap .about_title .about_plan ul li {
          font-size: 20px;
          font-weight: 500;
          text-transform: capitalize;
          padding: 30px 50px;
          border-bottom: 1px solid #eee; }
          @media only screen and (min-width: 1650px) {
            #aboutus .about_wrap .about_title .about_plan ul li {
              font-size: 22px;
              padding: 40px 70px; } }
          @media (max-width: 991px) {
            #aboutus .about_wrap .about_title .about_plan ul li {
              font-size: 20px;
              padding: 22px 40px; } }
          @media (max-width: 425px) {
            #aboutus .about_wrap .about_title .about_plan ul li {
              font-size: 18px;
              padding: 22px 16px; } }
          #aboutus .about_wrap .about_title .about_plan ul li i {
            color: #ff943b;
            margin-right: 25px; }
            @media (max-width: 425px) {
              #aboutus .about_wrap .about_title .about_plan ul li i {
                font-size: 24px;
                margin-right: 0;
                margin-bottom: 10px;
                display: block; } }
    #aboutus .about_wrap .about_img {
      -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
      flex: 1.5; }
      @media (max-width: 1199px) {
        #aboutus .about_wrap .about_img {
          margin-top: -150px;
          position: absolute;
          top: 67%;
          right: 0;
          width: 60%; } }
      @media (max-width: 991px) {
        #aboutus .about_wrap .about_img {
          width: 70%;
          top: 70%; } }
      @media (max-width: 767px) {
        #aboutus .about_wrap .about_img {
          width: 100%;
          position: static; } }
      @media (max-width: 425px) {
        #aboutus .about_wrap .about_img {
          display: none; } }
      #aboutus .about_wrap .about_img figure {
        width: 100%; }
        #aboutus .about_wrap .about_img figure img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: top;
          object-position: top; }
          @media (max-width: 1199px) {
            #aboutus .about_wrap .about_img figure img {
              height: 450px; } }

#services {
  margin-bottom: 300px; }
  @media only screen and (min-width: 1650px) {
    #services {
      margin-bottom: 330px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #services {
      margin-bottom: 280px; } }
  @media (max-width: 1199px) {
    #services {
      margin-bottom: 260px; } }
  @media (max-width: 991px) {
    #services {
      margin-bottom: 240px; } }
  @media (max-width: 610px) {
    #services {
      margin-bottom: 170px; } }
  #services .services_wrap {
    position: relative;
    margin-left: 320px; }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      #services .services_wrap {
        margin-left: 220px; } }
    @media (max-width: 1199px) {
      #services .services_wrap {
        margin-left: 150px; } }
    @media (max-width: 610px) {
      #services .services_wrap {
        margin-left: 0; } }
    #services .services_wrap::before {
      background: #ff943b;
      width: 500px;
      height: calc(100% + 270px);
      position: absolute;
      left: -320px;
      top: -130px;
      content: "";
      -webkit-box-shadow: 20px 0px 20px #ff933b54;
      box-shadow: 20px 0px 20px #ff933b54;
      z-index: -1; }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #services .services_wrap::before {
          left: -150px;
          width: 350px; } }
      @media (max-width: 1199px) {
        #services .services_wrap::before {
          left: -150px;
          width: 330px; } }
      @media (max-width: 991px) {
        #services .services_wrap::before {
          height: calc(100% + 150px);
          top: -80px; } }
      @media (max-width: 610px) {
        #services .services_wrap::before {
          display: none; } }
    @media (max-width: 425px) {
      #services .services_wrap .sevices_title .main_title {
        text-align: center; } }
    #services .services_wrap .sevices_title .main_title h2 {
      font-family: 'Barlow', sans-serif;
      font-size: 100px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase;
      line-height: 100px;
      margin: 30px 0 30px 0; }
      @media only screen and (min-width: 1650px) {
        #services .services_wrap .sevices_title .main_title h2 {
          font-size: 110px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #services .services_wrap .sevices_title .main_title h2 {
          font-size: 80px;
          margin: 15px 0 10px 0;
          line-height: 80px; } }
      @media (max-width: 1199px) {
        #services .services_wrap .sevices_title .main_title h2 {
          font-size: 70px;
          line-height: 65px;
          margin: 0 0 10px 0; } }
      @media (max-width: 425px) {
        #services .services_wrap .sevices_title .main_title h2 {
          font-size: 40px;
          line-height: 44px; } }
      #services .services_wrap .sevices_title .main_title h2 span {
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
        line-height: 30px; }
        @media only screen and (min-width: 1650px) {
          #services .services_wrap .sevices_title .main_title h2 span {
            font-size: 24px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #services .services_wrap .sevices_title .main_title h2 span {
            font-size: 20px; } }
        @media (max-width: 425px) {
          #services .services_wrap .sevices_title .main_title h2 span {
            font-size: 18px; } }
    #services .services_wrap .sevices_title .main_title p {
      font-size: 18px;
      color: #000;
      line-height: 36px;
      margin-bottom: 40px; }
      @media only screen and (min-width: 1650px) {
        #services .services_wrap .sevices_title .main_title p {
          font-size: 20px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #services .services_wrap .sevices_title .main_title p {
          font-size: 18px;
          margin-bottom: 20px; } }
      @media (max-width: 425px) {
        #services .services_wrap .sevices_title .main_title p {
          font-size: 18px;
          line-height: 30px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      #services .services_wrap .sevices_title p {
        width: 800px; } }
    #services .services_wrap .services_listing ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      #services .services_wrap .services_listing ul li {
        background: #fff;
        padding: 50px 0;
        text-align: center;
        width: calc(33.33% - 30px);
        margin: 0 30px 30px 0;
        -webkit-box-shadow: 0 0px 2px rgba(143, 143, 143, 0.38);
        box-shadow: 0 0px 2px rgba(143, 143, 143, 0.38);
        -webkit-transition: all ease-in-out 0.3s;
        -o-transition: all ease-in-out 0.3s;
        transition: all ease-in-out 0.3s; }
        @media (max-width: 991px) {
          #services .services_wrap .services_listing ul li {
            width: calc(50% - 30px); } }
        @media (max-width: 425px) {
          #services .services_wrap .services_listing ul li {
            width: 100%;
            margin-right: 0; } }
        #services .services_wrap .services_listing ul li:hover {
          -webkit-box-shadow: 0 10px 30px rgba(143, 143, 143, 0.15);
          box-shadow: 0 10px 30px rgba(143, 143, 143, 0.15);
          color: #ff943b;
          border: none; }
        #services .services_wrap .services_listing ul li:hover i {
          color: #ff943b; }
        #services .services_wrap .services_listing ul li i {
          font-size: 50px;
          margin-bottom: 20px;
          color: #a6a6a6; }
        #services .services_wrap .services_listing ul li p {
          font-size: 20px;
          font-weight: 600;
          text-transform: capitalize; }

#portfolio {
  position: relative;
  margin-bottom: 800px; }
  @media only screen and (min-width: 1650px) {
    #portfolio {
      margin-bottom: 900px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #portfolio {
      margin-bottom: 770px; } }
  @media (max-width: 1199px) {
    #portfolio {
      margin-bottom: 670px; } }
  @media (max-width: 991px) {
    #portfolio {
      margin-bottom: 120px; } }
  @media (max-width: 610px) {
    #portfolio {
      margin-bottom: 0; } }
  @media (max-width: 425px) {
    #portfolio {
      margin-bottom: 0; } }
  #portfolio::after {
    position: absolute;
    top: -100px;
    right: 0;
    content: "";
    width: 480px;
    height: 500px;
    background-image: url("../images/portfolio_after_img.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: -1; }
  #portfolio .portfolio_wrap .portfolio_title {
    text-align: right; }
    @media (max-width: 425px) {
      #portfolio .portfolio_wrap .portfolio_title .main_title {
        text-align: center; } }
    #portfolio .portfolio_wrap .portfolio_title .main_title h2 {
      font-family: 'Barlow', sans-serif;
      font-size: 100px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase;
      line-height: 100px;
      margin: 30px 0 30px 0; }
      @media only screen and (min-width: 1650px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title h2 {
          font-size: 110px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title h2 {
          font-size: 80px;
          margin: 15px 0 10px 0;
          line-height: 80px; } }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title h2 {
          font-size: 70px;
          line-height: 65px;
          margin: 0 0 10px 0; } }
      @media (max-width: 425px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title h2 {
          font-size: 40px;
          line-height: 44px; } }
      #portfolio .portfolio_wrap .portfolio_title .main_title h2 span {
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
        line-height: 30px; }
        @media only screen and (min-width: 1650px) {
          #portfolio .portfolio_wrap .portfolio_title .main_title h2 span {
            font-size: 24px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #portfolio .portfolio_wrap .portfolio_title .main_title h2 span {
            font-size: 20px; } }
        @media (max-width: 425px) {
          #portfolio .portfolio_wrap .portfolio_title .main_title h2 span {
            font-size: 18px; } }
    #portfolio .portfolio_wrap .portfolio_title .main_title p {
      font-size: 18px;
      color: #000;
      line-height: 36px;
      margin-bottom: 40px; }
      @media only screen and (min-width: 1650px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title p {
          font-size: 20px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title p {
          font-size: 18px;
          margin-bottom: 20px; } }
      @media (max-width: 425px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title p {
          font-size: 18px;
          line-height: 30px; } }
    #portfolio .portfolio_wrap .portfolio_title .main_title p {
      width: 650px;
      display: inline-block; }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_title .main_title p {
          width: 100%; } }
  #portfolio .portfolio_wrap .portfolio_listing {
    position: relative; }
    #portfolio .portfolio_wrap .portfolio_listing::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: url("../images/portfolio_before_img.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 550px; }
    @media (max-width: 991px) {
      #portfolio .portfolio_wrap .portfolio_listing ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    #portfolio .portfolio_wrap .portfolio_listing ul li {
      display: inline-block;
      text-align: center; }
      @media (max-width: 991px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li {
          position: static !important;
          margin: 0 30px 40px 0; } }
      @media (max-width: 425px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li {
          margin-right: 0; } }
      #portfolio .portfolio_wrap .portfolio_listing ul li img {
        width: 250px; }
        @media only screen and (min-width: 1650px) {
          #portfolio .portfolio_wrap .portfolio_listing ul li img {
            width: 320px; } }
        @media (max-width: 1199px) {
          #portfolio .portfolio_wrap .portfolio_listing ul li img {
            width: 200px; } }
        @media (max-width: 425px) {
          #portfolio .portfolio_wrap .portfolio_listing ul li img {
            width: 100%; } }
      #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap {
        position: relative;
        overflow: hidden;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap:hover .portfolio_listing_hover {
          bottom: 0; }
        #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap .portfolio_listing_hover {
          background: #ff943b;
          position: absolute;
          left: 0;
          bottom: -298px;
          width: 100%;
          height: 100%;
          text-align: left;
          padding: 30px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: end;
          -ms-flex-align: end;
          align-items: flex-end;
          -webkit-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;
          transition: all linear 0.3s; }
          @media only screen and (min-width: 1650px) {
            #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap .portfolio_listing_hover {
              bottom: -380px; } }
          @media (max-width: 1199px) {
            #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap .portfolio_listing_hover {
              padding: 15px; } }
          @media (max-width: 1199px) {
            #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap .portfolio_listing_hover {
              height: auto;
              bottom: -345px; } }
          #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap .portfolio_listing_hover p {
            font-size: 20px;
            font-weight: 600;
            color: #fff; }
            @media (max-width: 1199px) {
              #portfolio .portfolio_wrap .portfolio_listing ul li .portfolio_listing_wrap .portfolio_listing_hover p {
                font-size: 18px; } }
      #portfolio .portfolio_wrap .portfolio_listing ul li .port_t_l {
        font-size: 20px;
        font-weight: 600;
        text-transform: capitalize;
        margin-top: 10px; }
        #portfolio .portfolio_wrap .portfolio_listing ul li .port_t_l i {
          color: #ff943b;
          margin-right: 8px; }
    #portfolio .portfolio_wrap .portfolio_listing ul li:first-child {
      position: absolute;
      top: -100px;
      right: 55%; }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:first-child {
          top: 0;
          right: 48%; } }
    #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(2) {
      position: absolute;
      top: 0;
      right: 30%; }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(2) {
          top: 60px;
          right: 20%; } }
    #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(3) {
      position: absolute;
      top: 80px;
      left: 0; }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(3) {
          top: 100px;
          left: 20px; } }
    #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(4) {
      position: absolute;
      top: 300px;
      left: 27%; }
      @media only screen and (min-width: 1650px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(4) {
          top: 400px; } }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(4) {
          top: 300px;
          left: 30%; } }
      @media (min-width: 1200px) and (max-width: 1300px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:nth-child(4) {
          left: 24%; } }
    #portfolio .portfolio_wrap .portfolio_listing ul li:last-child {
      position: absolute;
      top: 400px;
      right: 30%; }
      @media only screen and (min-width: 1650px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:last-child {
          top: 500px; } }
      @media (max-width: 1199px) {
        #portfolio .portfolio_wrap .portfolio_listing ul li:last-child {
          right: 20%; } }

#testimonial {
  padding: 76px 0;
  margin-bottom: 140px; }
  @media only screen and (min-width: 1650px) {
    #testimonial {
      margin-bottom: 150px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #testimonial {
      margin-bottom: 80px; } }
  @media (max-width: 1199px) {
    #testimonial {
      margin-bottom: 80px; } }
  @media (max-width: 610px) {
    #testimonial {
      margin-bottom: 50px; } }
  @media (max-width: 425px) {
    #testimonial {
      margin-bottom: 0; } }
  #testimonial .testimonial_title {
    position: relative; }
    @media (max-width: 425px) {
      #testimonial .testimonial_title .main_title {
        text-align: center; } }
    #testimonial .testimonial_title .main_title h2 {
      font-family: 'Barlow', sans-serif;
      font-size: 100px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase;
      line-height: 100px;
      margin: 30px 0 30px 0; }
      @media only screen and (min-width: 1650px) {
        #testimonial .testimonial_title .main_title h2 {
          font-size: 110px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #testimonial .testimonial_title .main_title h2 {
          font-size: 80px;
          margin: 15px 0 10px 0;
          line-height: 80px; } }
      @media (max-width: 1199px) {
        #testimonial .testimonial_title .main_title h2 {
          font-size: 70px;
          line-height: 65px;
          margin: 0 0 10px 0; } }
      @media (max-width: 425px) {
        #testimonial .testimonial_title .main_title h2 {
          font-size: 40px;
          line-height: 44px; } }
      #testimonial .testimonial_title .main_title h2 span {
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
        line-height: 30px; }
        @media only screen and (min-width: 1650px) {
          #testimonial .testimonial_title .main_title h2 span {
            font-size: 24px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #testimonial .testimonial_title .main_title h2 span {
            font-size: 20px; } }
        @media (max-width: 425px) {
          #testimonial .testimonial_title .main_title h2 span {
            font-size: 18px; } }
    #testimonial .testimonial_title .main_title p {
      font-size: 18px;
      color: #000;
      line-height: 36px;
      margin-bottom: 40px; }
      @media only screen and (min-width: 1650px) {
        #testimonial .testimonial_title .main_title p {
          font-size: 20px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #testimonial .testimonial_title .main_title p {
          font-size: 18px;
          margin-bottom: 20px; } }
      @media (max-width: 425px) {
        #testimonial .testimonial_title .main_title p {
          font-size: 18px;
          line-height: 30px; } }
    #testimonial .testimonial_title::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: url("../images/testimonial_before_img.png");
      background-size: cover;
      background-position: center;
      width: 666px;
      height: 712px;
      z-index: -1; }
      @media (max-width: 610px) {
        #testimonial .testimonial_title::before {
          display: none; } }
    #testimonial .testimonial_title .main_title p {
      max-width: calc(100% - 300px); }
      @media only screen and (min-width: 1650px) {
        #testimonial .testimonial_title .main_title p {
          max-width: calc(100% - 500px); } }
      @media (max-width: 1199px) {
        #testimonial .testimonial_title .main_title p {
          max-width: 100%; } }
  @media only screen and (min-width: 1650px) {
    #testimonial .says {
      margin-bottom: 100px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #testimonial .says {
      margin-bottom: 50px; } }
  #testimonial .says .owl-dots {
    text-align: center;
    margin-top: 25px; }
    #testimonial .says .owl-dots .owl-dot {
      background: #ffd4b1;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      margin-right: 6px; }
    #testimonial .says .owl-dots .owl-dot.active {
      background: #ff943b;
      height: 15px;
      width: 15px; }
  @media (max-width: 1199px) {
    #testimonial .says .owl-nav {
      display: none; } }
  #testimonial .says .owl-nav button span {
    display: none; }
    #testimonial .says .owl-nav{
        display: none;
    }
  #testimonial .says .owl-nav .owl-prev {
    background-image: url("../images/testimonial_arrow.png");
    width: 66px;
    height: 47px;
    background-repeat: no-repeat;
    opacity: 0.4;
    position: absolute;
    top: 50%;
    left: -90px;
    margin-top: -50px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg); }
    #testimonial .says .owl-nav .owl-prev:hover {
      background-position: 0 -47px;
      opacity: 1; }
  #testimonial .says .owl-nav .owl-next {
    background-image: url("../images/testimonial_arrow.png");
    width: 66px;
    height: 47px;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: -50px;
    margin-top: -50px; }
    #testimonial .says .owl-nav .owl-next:hover {
      background-position: 0 -47px; }
  #testimonial .testimonial_slider {
    min-height: 340px; }
    @media (max-width: 1199px) {
      #testimonial .testimonial_slider {
        min-height: 0; } }
    #testimonial .testimonial_slider .people_image {
      display: inline-block;
      position: relative;
      top: 60px;
      left: 50px; }
      @media (max-width: 1199px) {
        #testimonial .testimonial_slider .people_image {
          top: 0;
          left: 50%;
          margin-left: -100px; } }
      #testimonial .testimonial_slider .people_image img {
        width: 180px;
        height: 180px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center; }
        @media only screen and (min-width: 1650px) {
          #testimonial .testimonial_slider .people_image img {
            width: 210px;
            height: 210px; } }
    #testimonial .testimonial_slider .people_view {
      padding: 70px;
      background: #ff943b;
      position: absolute;
      top: 0;
      left: 200px;
      z-index: -1; }
      @media only screen and (min-width: 1650px) {
        #testimonial .testimonial_slider .people_view {
          padding: 100px; } }
      @media (max-width: 1199px) {
        #testimonial .testimonial_slider .people_view {
          position: static;
          padding: 50px;
          margin-top: -40px; } }
      @media (max-width: 425px) {
        #testimonial .testimonial_slider .people_view {
          padding: 50px 20px 30px; } }
      #testimonial .testimonial_slider .people_view h4 {
        position: relative;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 36px; }
        @media (max-width: 425px) {
          #testimonial .testimonial_slider .people_view h4 {
            font-size: 16px;
            line-height: 30px; } }
        #testimonial .testimonial_slider .people_view h4::after {
          position: absolute;
          top: -30px;
          left: 0;
          content: "";
          background-image: url("../images/quatation.png");
          background-repeat: no-repeat;
          width: 100%;
          height: 75px; }
          @media (max-width: 1199px) {
            #testimonial .testimonial_slider .people_view h4::after {
              top: 0; } }
      #testimonial .testimonial_slider .people_view p {
        line-height: 36px;
        font-weight: 600;
        color: #fff;
        font-style: italic; }
        #testimonial .testimonial_slider .people_view p span {
          font-weight: 500; }

#members {
  position: relative;
  margin-bottom: 260px; }
  @media only screen and (min-width: 1650px) {
    #members {
      margin-bottom: 350px; } }
  @media only screen and (min-width: 1200px) and (max-width: 1399px) {
    #members {
      margin-bottom: 230px; } }
  @media (max-width: 1199px) {
    #members {
      margin-bottom: 200px; } }
  #members::after {
    position: absolute;
    top: -120px;
    right: 0;
    content: "";
    width: 370px;
    height: 460px;
    background: #fff;
    z-index: -1;
    -webkit-box-shadow: -10px 10px 50px rgba(163, 163, 163, 0.17);
    box-shadow: -10px 10px 50px rgba(163, 163, 163, 0.17); }
    @media only screen and (min-width: 1650px) {
      #members::after {
        width: 420px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      #members::after {
        top: -100px;
        width: 310px;
        height: 400px; } }
    @media (max-width: 1199px) {
      #members::after {
        top: -80px;
        width: 290px;
        height: 360px; } }
    @media (max-width: 991px) {
      #members::after {
        top: -40px;
        height: 300px; } }
    @media (max-width: 425px) {
      #members::after {
        display: none; } }
  #members .member_wrap .member_title {
    text-align: right; }
    @media (max-width: 425px) {
      #members .member_wrap .member_title .main_title {
        text-align: center; } }
    #members .member_wrap .member_title .main_title h2 {
      font-family: 'Barlow', sans-serif;
      font-size: 100px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase;
      line-height: 100px;
      margin: 30px 0 30px 0; }
      @media only screen and (min-width: 1650px) {
        #members .member_wrap .member_title .main_title h2 {
          font-size: 110px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #members .member_wrap .member_title .main_title h2 {
          font-size: 80px;
          margin: 15px 0 10px 0;
          line-height: 80px; } }
      @media (max-width: 1199px) {
        #members .member_wrap .member_title .main_title h2 {
          font-size: 70px;
          line-height: 65px;
          margin: 0 0 10px 0; } }
      @media (max-width: 425px) {
        #members .member_wrap .member_title .main_title h2 {
          font-size: 40px;
          line-height: 44px; } }
      #members .member_wrap .member_title .main_title h2 span {
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
        line-height: 30px; }
        @media only screen and (min-width: 1650px) {
          #members .member_wrap .member_title .main_title h2 span {
            font-size: 24px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #members .member_wrap .member_title .main_title h2 span {
            font-size: 20px; } }
        @media (max-width: 425px) {
          #members .member_wrap .member_title .main_title h2 span {
            font-size: 18px; } }
    #members .member_wrap .member_title .main_title p {
      font-size: 18px;
      color: #000;
      line-height: 36px;
      margin-bottom: 40px; }
      @media only screen and (min-width: 1650px) {
        #members .member_wrap .member_title .main_title p {
          font-size: 20px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #members .member_wrap .member_title .main_title p {
          font-size: 18px;
          margin-bottom: 20px; } }
      @media (max-width: 425px) {
        #members .member_wrap .member_title .main_title p {
          font-size: 18px;
          line-height: 30px; } }
  #members .member_wrap .main_title p {
    display: inline-block;
    max-width: calc(100% - 300px); }
    @media (max-width: 1199px) {
      #members .member_wrap .main_title p {
        max-width: 100%; } }
  #members .member_wrap .member_listing {
    position: relative;
    margin-top: 80px; }
    @media only screen and (min-width: 1650px) {
      #members .member_wrap .member_listing {
        margin-top: 70px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      #members .member_wrap .member_listing {
        margin-top: 70px; } }
    @media (max-width: 1199px) {
      #members .member_wrap .member_listing {
        margin-top: 0px; } }
    #members .member_wrap .member_listing::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      background-image: url("../images/testimonial_before_img.png");
      background-size: contain;
      background-repeat: repeat;
      width: 100%;
      height: 650px; }
    #members .member_wrap .member_listing ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      @media (max-width: 599px) {
        #members .member_wrap .member_listing ul {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
      #members .member_wrap .member_listing ul li {
        padding: 30px;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        @media only screen and (min-width: 1650px) {
          #members .member_wrap .member_listing ul li {
            padding: 60px; } }
        @media (max-width: 610px) {
          #members .member_wrap .member_listing ul li {
            padding: 15px; } }
        #members .member_wrap .member_listing ul li:hover .member_info {
          opacity: 1; }
        #members .member_wrap .member_listing ul li .img_wrap {
          position: relative; }
          @media (max-width: 425px) {
            #members .member_wrap .member_listing ul li .img_wrap {
              width: 200px;
              height: 200px;
              margin: 0 auto; } }
        #members .member_wrap .member_listing ul li img {
          width: 200px;
          height: 200px;
          -o-object-position: top;
          object-position: top;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 50%; }
          @media (max-width: 1199px) {
            #members .member_wrap .member_listing ul li img {
              width: 150px;
              height: 150px; } }
          @media (max-width: 425px) {
            #members .member_wrap .member_listing ul li img {
              width: 200px;
              height: 200px; } }
        #members .member_wrap .member_listing ul li .member_info {
          opacity: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 148, 59, 0.4);
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-transition: all linear 0.3s;
          -o-transition: all linear 0.3s;
          transition: all linear 0.3s; }
          #members .member_wrap .member_listing ul li .member_info a {
            color: #fff;
            font-size: 24px; }

#contact_info {
  position: relative;
  display: inline-block;
  width: 100%;
  margin-bottom: 250px; }
  #contact_info::after {
    position: absolute;
    content: "";
    top: -150px;
    right: 0;
    background-image: url("../images/contact_info_after_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 373px;
    height: 435px;
    z-index: -1; }
    @media only screen and (min-width: 1650px) {
      #contact_info::after {
        width: 440px;
        height: 505px; } }
    @media (max-width: 425px) {
      #contact_info::after {
        width: 193px; } }
  #contact_info .contact_info_wrap .contact_info_title {
    margin-right: 100px;
    text-align: right;
    display: inline-block;
    float: right; }
    @media (max-width: 425px) {
      #contact_info .contact_info_wrap .contact_info_title .main_title {
        text-align: center; } }
    #contact_info .contact_info_wrap .contact_info_title .main_title h2 {
      font-family: 'Barlow', sans-serif;
      font-size: 100px;
      font-weight: 800;
      color: #000;
      text-transform: uppercase;
      line-height: 100px;
      margin: 30px 0 30px 0; }
      @media only screen and (min-width: 1650px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title h2 {
          font-size: 110px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title h2 {
          font-size: 80px;
          margin: 15px 0 10px 0;
          line-height: 80px; } }
      @media (max-width: 1199px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title h2 {
          font-size: 70px;
          line-height: 65px;
          margin: 0 0 10px 0; } }
      @media (max-width: 425px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title h2 {
          font-size: 40px;
          line-height: 44px; } }
      #contact_info .contact_info_wrap .contact_info_title .main_title h2 span {
        font-family: 'Open Sans', sans-serif;
        display: block;
        font-size: 22px;
        font-weight: 600;
        color: #000;
        text-transform: capitalize;
        line-height: 30px; }
        @media only screen and (min-width: 1650px) {
          #contact_info .contact_info_wrap .contact_info_title .main_title h2 span {
            font-size: 24px; } }
        @media only screen and (min-width: 1200px) and (max-width: 1399px) {
          #contact_info .contact_info_wrap .contact_info_title .main_title h2 span {
            font-size: 20px; } }
        @media (max-width: 425px) {
          #contact_info .contact_info_wrap .contact_info_title .main_title h2 span {
            font-size: 18px; } }
    #contact_info .contact_info_wrap .contact_info_title .main_title p {
      font-size: 18px;
      color: #000;
      line-height: 36px;
      margin-bottom: 40px; }
      @media only screen and (min-width: 1650px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title p {
          font-size: 20px; } }
      @media only screen and (min-width: 1200px) and (max-width: 1399px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title p {
          font-size: 18px;
          margin-bottom: 20px; } }
      @media (max-width: 425px) {
        #contact_info .contact_info_wrap .contact_info_title .main_title p {
          font-size: 18px;
          line-height: 30px; } }
    @media (max-width: 425px) {
      #contact_info .contact_info_wrap .contact_info_title {
        float: none;
        margin-right: 0; } }
  #contact_info .contact_info_wrap .contact_details {
    margin-top: 70px; }
    @media (max-width: 425px) {
      #contact_info .contact_info_wrap .contact_details {
        margin-top: 40px; } }
    #contact_info .contact_info_wrap .contact_details ul {
      text-align: left; }
      #contact_info .contact_info_wrap .contact_details ul li {
        color: #313131;
        margin-bottom: 50px;
        font-size: 24px;
        font-weight: 600; }
        @media (max-width: 425px) {
          #contact_info .contact_info_wrap .contact_details ul li {
            margin-bottom: 20px; } }
        #contact_info .contact_info_wrap .contact_details ul li a {
          color: inherit;
          font-size: 24px;
          font-weight: 600; }
          @media (max-width: 425px) {
            #contact_info .contact_info_wrap .contact_details ul li a {
              font-size: 20px; } }
          #contact_info .contact_info_wrap .contact_details ul li a:hover {
            color: #b34800; }
        #contact_info .contact_info_wrap .contact_details ul li span {
          font-size: 24px;
          font-weight: 500;
          margin-left: 20px; }
          @media (max-width: 425px) {
            #contact_info .contact_info_wrap .contact_details ul li span {
              font-size: 20px;
              margin-left: 10px; } }
        #contact_info .contact_info_wrap .contact_details ul li i {
          color: #ff943b; }

footer {
  position: relative;
  background: #ff943b;
  padding: 250px 0 50px 0; }
  @media (max-width: 1199px) {
    footer {
      padding: 180px 0 30px 0; } }
  footer::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #ff943b;
    -webkit-transform: skew(0deg, -6deg);
    -ms-transform: skew(0deg, -6deg);
    transform: skew(0deg, -6deg);
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    z-index: -1; }
  @media (max-width: 425px) {
    footer center img {
      width: 250px; } }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 30px 0; }
    @media (max-width: 425px) {
      footer ul {
        margin: 0 0px 10px; } }
    footer ul li {
      padding: 10px; }
      @media only screen and (min-width: 1650px) {
        footer ul li {
          padding: 10px 15px; } }
      footer ul li:hover a {
        -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
        transform: scale(1.15);
        -webkit-box-shadow: 0px 10px 20px #dc6f16;
        box-shadow: 0px 10px 20px #dc6f16; }
      footer ul li a {
        background: #fff;
        border-radius: 50%;
        display: block;
        width: 60px;
        height: 60px;
        color: #ff943b;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transition: all linear 0.3s;
        -o-transition: all linear 0.3s;
        transition: all linear 0.3s; }
        @media only screen and (min-width: 1650px) {
          footer ul li a {
            font-size: 22px;
            width: 80px;
            height: 80px; } }
        @media (max-width: 425px) {
          footer ul li a {
            width: 50px;
            height: 50px; } }
  footer .copyright {
    color: #fff; }
    @media (max-width: 425px) {
      footer .copyright {
        padding: 0 10px; } }
  footer .contact_form {
    position: absolute;
    top: -500px;
    background: #fff;
    padding: 45px;
    -webkit-box-shadow: 0 10px 30px rgba(178, 178, 178, 0.3);
    box-shadow: 0 10px 30px rgba(178, 178, 178, 0.3); }
    @media only screen and (min-width: 1650px) {
      footer .contact_form {
        padding: 60px;
        top: -500px;
        left: 300px; } }
    @media only screen and (min-width: 1200px) and (max-width: 1399px) {
      footer .contact_form {
        right: calc(100% - 48%); } }
    @media (max-width: 1199px) {
      footer .contact_form {
        max-width: 400px; } }
    @media (max-width: 991px) {
      footer .contact_form {
        max-width: 100%;
        width: 100%;
        position: static;
        margin-top: -410px;
        margin-bottom: 50px; } }
    @media (max-width: 425px) {
      footer .contact_form {
        padding: 22px; } }
    footer .contact_form .form_wrap form .form-control,
    footer .contact_form .form_wrap form textarea {
      width: 100%;
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
      border-radius: 0;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 2px solid #ccc;
      padding: 22px;
      margin-bottom: 25px; }
      @media (max-width: 425px) {
        footer .contact_form .form_wrap form .form-control,
        footer .contact_form .form_wrap form textarea {
          padding: 12px;
          margin-bottom: 20px; } }
    footer .contact_form .form_wrap form .btn {
      width: 100%;
      font-size: 18px;
      background: #ff943b;
      color: #fff;
      padding: 15px;
      border: none; }
      footer .contact_form .form_wrap form .btn:hover {
        background: #ff7e12; }
    footer .contact_form h3 {
      font-family: 'Barlow', sans-serif;
      font-weight: 500;
      color: #ff943b;
      text-transform: capitalize;
      font-size: 26px;
      margin-bottom: 30px; }
      @media only screen and (min-width: 1650px) {
        footer .contact_form h3 {
          font-size: 30px;
          margin-bottom: 40px; } }
