 // main-title
 @mixin main_title_wrap {
     .main_title {
         @include for-size(mobile) {
             text-align: center;
         }

         h2 {
             font-family: 'Barlow', sans-serif;
             font-size: $extralarge_font - 30px;
             font-weight: 800;
             color: $secondary_color;
             text-transform: uppercase;
             line-height: 100px;
             margin: 30px 0 30px 0;

             @include for-size(large-desktop) {
                 font-size: $large_font;
             }

             @include for-size(big-desktop-up) {
                 font-size: $large_font - 30px;
                 margin: 15px 0 10px 0;
                 line-height: 80px;
             }

             @include for-size(desktop-up) {
                 font-size: $large_font - 40px;
                 line-height: 65px;
                 margin: 0 0 10px 0;
             }

             @include for-size(mobile) {
                 font-size: $large_font - 70px;
                 line-height: 44px;
             }

             span {
                 font-family: 'Open Sans', sans-serif;
                 display: block;
                 font-size: $medium_font - 2;
                 font-weight: 600;
                 color: $secondary_color;
                 text-transform: capitalize;
                 line-height: 30px;

                 @include for-size(large-desktop) {
                     font-size: $medium_font;
                 }

                 @include for-size(big-desktop-up) {
                     font-size: $medium_font - 4px;
                 }

                 @include for-size(mobile) {
                     font-size: $medium_font - 6px;
                 }
             }
         }

         p {
             font-size: $small_font - 2px;
             color: $secondary_color;
             line-height: 36px;
             margin-bottom: 40px;

             @include for-size(large-desktop) {
                 font-size: $small_font;
             }

             @include for-size(big-desktop-up) {
                 font-size: $small_font - 2px;
                 margin-bottom: 20px;
             }

             @include for-size(mobile) {
                 font-size: $small_font - 2px;
                 line-height: 30px;
             }

         }
     }
 }

 // bx-shadow
 @mixin box-shadow ($top, $left, $blur, $color:"") {
     box-shadow: $top $left $blur $color;
 }

 // form
 @mixin form_wrap {
     form {

         .form-control,
         textarea {
             width: 100%;
             font-family: 'Open Sans', sans-serif;
             font-size: $extrasmall_font - 2px;
             border-radius: 0;
             outline: 0;
             box-shadow: none;
             border: 2px solid #ccc;
             padding: 22px;
             margin-bottom: 25px;

             @include for-size(mobile) {
                 padding: 12px;
                 margin-bottom: 20px;
             }
         }

         .btn {
             width: 100%;
             font-size: $extrasmall_font;
             background: $primary_color;
             color: $base_color;
             padding: 15px;
             border: none;

             &:hover {
                 background: darken($primary_color, 8%);
             }
         }
     }
 }

 // responsive
 @mixin for-size($size) {
     @if $size==mobile {
         @media (max-width: 425px) {
             @content;
         }
     }

     @if $size==phone-only {
         @media (max-width: 610px) {
             @content;
         }
     }

     @else if $size==tablet-portrait-up {
         @media (max-width: 767px) {
             @content;
         }
     }

     @else if $size==tablet-landscape-up {
         @media (max-width: 991px) {
             @content;
         }
     }

     @else if $size==desktop-up {
         @media (max-width: 1199px) {
             @content;
         }
     }

     @else if $size==big-desktop-up {
         @media only screen and (min-width: 1200px) and (max-width: 1399px) {
             @content;
         }
     }

     @else if $size==large-desktop {
         @media only screen and (min-width: 1650px) {
             @content;
         }
     }
 }