html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

::-moz-selection {
    color: #000;
    background: #ff943b;
}

::selection {
    color: #000;
    background: #ff943b;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #ff943b;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
figure,
main,
article,
section,
object {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (max-width: 767px) {
    .container-fluid {
        max-width: 720px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1170px;
    }
}

@media (min-width: 1400px) {
    .container-fluid {
        max-width: 1360px;
    }
}

@media (min-width: 1650px) {
    .container-fluid {
        max-width: 1720px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .container-fluid {
        max-width: 1300px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.gridify {
    padding: 0 15px;
}