// fonts
$extralarge_font: 130px;
$large_font: 110px;
$medium_font: 24px;
$small_font: 20px;
$extrasmall_font: 18px;


// color
$primary_color: #ff943b;
$secondary_color: #000;
$base_color: #fff;
$neutral_color: #a6a6a6;

