#aboutus {
    margin-bottom: 300px;

    @include for-size(large-desktop) {
        margin-bottom: 330px;
    }

    @include for-size(big-desktop-up) {
        margin-bottom: 280px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 370px;
    }

    @include for-size(tablet-landscape-up) {
        margin-bottom: 330px;
    }

    @include for-size(tablet-portrait-up) {
        margin-bottom: 200px;
    }

    @include for-size(phone-only) {
        margin-bottom: 70px;
    }


    .about_wrap {
        display: flex;
        flex-wrap: wrap;

        @include for-size(desktop-up) {
            display: block;
            position: relative;
        }

        .about_title {
            flex: 1;
            transform: translate(60px, 0);
            @include main_title_wrap;
            text-align: right;
            position: relative;
            z-index: 99;

            @include for-size(desktop-up) {
                transform: translate(0, 0);
            }

            .about_plan {
                display: inline-block;
                text-align: left;
                background: $base_color;
                box-shadow: 0 10px 50px rgba(208, 208, 208, 0.5);

                @include for-size(desktop-up) {
                    transform: translate(-500px, 60px);
                }

                @include for-size(tablet-landscape-up) {
                    transform: translate(-320px, 60px);
                }

                @include for-size(tablet-portrait-up) {
                    transform: none;
                    display: block;
                    width: 80%;
                    margin: 0 auto;
                }

                @include for-size(tablet-portrait-up) {
                    width: 100%;
                }

                @include for-size(mobile) {
                    text-align: center;
                }

                ul {
                    li {
                        font-size: $medium_font - 4px;
                        font-weight: 500;
                        text-transform: capitalize;
                        padding: 30px 50px;
                        border-bottom: 1px solid #eee;

                        @include for-size(large-desktop) {
                            font-size: $medium_font - 2;
                            padding: 40px 70px;
                        }

                        @include for-size(tablet-landscape-up) {
                            font-size: $medium_font - 4px;
                            padding: 22px 40px;
                        }

                        @include for-size(mobile) {
                            font-size: $medium_font - 6px;
                            padding: 22px 16px;
                        }


                        // @include for-size(big-desktop-up) {
                        //    padding: 24px 50px;
                        // }

                        i {
                            color: $primary_color;
                            margin-right: 25px;

                            @include for-size(mobile) {
                                font-size: $medium_font;
                                margin-right: 0;
                                margin-bottom: 10px;
                                display: block;
                            }
                        }
                    }
                }
            }
        }

        .about_img {
            flex: 1.5;

            @include for-size(desktop-up) {
                margin-top: -150px;
                position: absolute;
                top: 67%;
                right: 0;
                width: 60%;
            }

            @include for-size(tablet-landscape-up) {
                width: 70%;
                top: 70%;
            }

            @include for-size(tablet-portrait-up) {
                width: 100%;
                position: static;
            }

            @include for-size(mobile) {
                display: none;
            }


            figure {
                width: 100%;
                // height: 500px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;

                    @include for-size(desktop-up) {
                        height: 450px;
                    }
                }
            }
        }
    }
}