#navigation {
    padding: 20px 0;
    transition: all .3s ease-in-out;
    position: fixed;
    width: 100%;
    top: 30px;
    z-index: 9999;

    @include for-size(desktop-up) {
        // display: none;
    }

    &.is-scrolling {
        background: $primary_color;
        top: 0;

        .nav_item {
            li a {
                &:hover {
                    color: darken($primary_color, 35%) !important;
                }
            }
        }
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav_item {
            display: flex;

            li a {
                color: $base_color;
                text-transform: capitalize;
                padding: 0 0 0 40px;
                font-size: $extrasmall_font;
                transition: all ease-in .3s;

                &:hover {
                    color: $primary_color;
                }
            }
        }
    }
}


#banner {
    background-image: linear-gradient(rgba(47, 21, 0, 0.6), rgba(47, 21, 0, 0.6)), url("../images/banner_img.png");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 125px;

    @include for-size(large-desktop) {
        margin-bottom: 150px;
    }

    @include for-size(big-desktop-up) {
        margin-bottom: 110px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 60px;
    }

    @media (max-width: 767px) and (orientation: landscape) {
        height: 680px;
        background-position: center;
        background-size: cover;
    }

    .banner_title {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: translate(0, 70px);

        @media (max-width: 767px) and (orientation: landscape) {
            transform: translate(0, 230px);
        }

        h1 {
            font-size: $large_font - 25px;
            color: $base_color;
            font-weight: 800;
            line-height: 82px;
            margin-bottom: 35px;

            @include for-size(large-desktop) {
                font-size: $large_font - 10px;
                line-height: 92px;
            }

            @include for-size(big-desktop-up) {
                font-size: $large_font - 35px;
                line-height: 72px;
            }

            @include for-size(desktop-up) {
                font-size: $large_font - 40px;
                line-height: 70px;
                margin-bottom: 30px;
            }

            @include for-size(phone-only) {
                font-size: $large_font - 50px;
                line-height: 60px;
            }

            @include for-size(phone-only) {
                font-size: 46px;
                line-height: 50px;
            }

            span {
                color: $primary_color;
            }
        }

        .ms_slider {
            display: inline-block;
            height: 89px;
            overflow: hidden;
            vertical-align: top;

            @include for-size(large-desktop) {
                height: 99px;
            }

            @include for-size(big-desktop-up) {
                height: 79px;
            }

            @include for-size(desktop-up) {
                height: 69px;
            }

            @include for-size(phone-only) {
                height: 59px;
            }

            @include for-size(mobile) {
                height: 49px;
            }

            .ms_slider__words {
                display: inline-block;
                animation-name: wordSlider;
                animation-timing-function: linear;
                animation-iteration-count: infinite;
                animation-duration: 6s;
                animation-direction: reverse;

                .ms_slider__word {
                    display: block;
                    // line-height: 1.3em;
                    text-align: left;
                }
            }
        }

        @keyframes wordSlider {

            0%,
            30% {
                transform: translateY(0);
            }

            36%,
            60% {
                transform: translateY(-32%);
            }

            66%,
            90% {
                transform: translateY(-65%);
            }

            96%,
            100% {
                transform: translateY(0%);
            }
        }


        p {
            max-width: 100%;
            font-size: $small_font;
            color: $base_color;
            line-height: 34px;
            margin-bottom: 80px;

            @include for-size (large-desktop) {
                width: 62%;
            }

            @include for-size(phone-only) {
                font-size: 18px;
            }

            @include for-size(mobile) {
                font-size: 16px;
            }

            @media (max-width: 736px) and (orientation: landscape) {
                margin-bottom: 50px;
            }

        }

        a {
            max-width: 20%;
            position: relative;
            color: $base_color;
            text-transform: capitalize;
            font-size: $medium_font + 2;
            font-weight: 600;
            display: flex;
            align-items: center;
            transition: all linear 0.3s;

            @include for-size(tablet-landscape-up) {
                max-width: 27%;
            }

            @include for-size(phone-only) {
                display: none;
            }

            &::after {
                position: absolute;
                top: -20px;
                right: 40px;
                content: "";
                background: $primary_color;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                z-index: 1;
                transition: all linear 0.3s;

                @include for-size (large-desktop) {
                    right: 110px;
                }

                @include for-size (big-desktop-up) {
                    width: 70px;
                    height: 70px;
                    top: -15px;
                    right: 38px;
                }

                @media (min-width: 1200px) and (max-width: 1260px) {
                    right: 25px;
                }

                @include for-size (desktop-up) {
                    width: 65px;
                    height: 65px;
                    top: -10px;
                    right: -25px;
                }
            }

            img {
                z-index: 2;
                transition: all linear 0.3s;

                @include for-size (desktop-up) {
                    margin-top: -30px;
                }
            }

            &:hover {

                &::after,
                img {
                    transform: translate(20px, 0);
                }
            }
        }
    }
}