#contact_info {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 250px;

    &::after {
        position: absolute;
        content: "";
        top: -150px;
        right: 0;
        background-image: url("../images/contact_info_after_img.png");
        background-size: cover;
        background-repeat: no-repeat;
        width: 373px;
        height: 435px;
        z-index: -1;

        @include for-size(large-desktop) {
            width: 440px;
            height: 505px;
        }

        @include for-size(mobile) {
            width: 193px;
        }
    }

    .contact_info_wrap {
        .contact_info_title {
            margin-right: 100px;
            @include main_title_wrap;
            text-align: right;
            display: inline-block;
            float: right;

            @include for-size(mobile) {
                float: none;
                margin-right: 0;
            }
        }

        .contact_details {
            margin-top: 70px;

            @include for-size(mobile) {
                margin-top: 40px;
            }

            ul {
                text-align: left;

                li {
                    color: #313131;
                    margin-bottom: 50px;
                    font-size: $medium_font;
                    font-weight: 600;

                    @include for-size(mobile) {
                        margin-bottom: 20px;
                    }

                    a {
                        color: inherit;
                        font-size: $medium_font;
                        font-weight: 600;

                        @include for-size(mobile) {
                            font-size: $medium_font - 4px;
                        }

                        &:hover {
                            color: $primary_color - 76%;
                        }

                    }

                    span {
                        font-size: $medium_font;
                        font-weight: 500;
                        margin-left: 20px;

                        @include for-size(mobile) {
                            font-size: $medium_font - 4px;
                            margin-left: 10px;
                        }
                    }

                    i {
                        color: $primary_color;
                    }
                }
            }
        }
    }
}


footer {
    position: relative;
    background: $primary_color;
    padding: 250px 0 50px 0;

    @include for-size(desktop-up) {
        padding: 180px 0 30px 0;
    }

    &::after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        width: 100%;
        height: 100%;
        background: $primary_color;
        transform: skew(0deg, -6deg);
        transform-origin: top left;
        z-index: -1;
    }

    center img {
        @include for-size(mobile) {
            width: 250px;
        }
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 30px 0;

        @include for-size(mobile) {
            margin: 0 0px 10px;
        }

        li {
            padding: 10px;

            @include for-size(large-desktop) {
                padding: 10px 15px;
            }

            &:hover {
                a {
                    transform: scale(1.15);
                    box-shadow: 0px 10px 20px rgb(220, 111, 22);
                }
            }

            a {
                background: $base_color;
                border-radius: 50%;
                display: block;
                width: 60px;
                height: 60px;
                color: $primary_color;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all linear 0.3s;

                @include for-size(large-desktop) {
                    font-size: $medium_font - 2px;
                    width: 80px;
                    height: 80px;
                }

                @include for-size(mobile) {
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }

    .copyright {
        color: $base_color;

        @include for-size(mobile) {
            padding: 0 10px;
        }
    }

    .contact_form {
        position: absolute;
        top: -500px;
        background: $base_color;
        padding: 45px;
        box-shadow: 0 10px 30px rgba(178, 178, 178, 0.3);

        @include for-size(large-desktop) {
            padding: 60px;
            top: -500px;
            left: 300px;
        }

        @include for-size(big-desktop-up) {
            right: calc(100% - 48%);
        }

        @include for-size(desktop-up) {
            max-width: 400px;
        }

        @include for-size(tablet-landscape-up) {
            max-width: 100%;
            width: 100%;
            position: static;
            margin-top: -410px;
            margin-bottom: 50px;
        }

        @include for-size(mobile) {
            padding: 22px;
        }

        .form_wrap {
            @include form_wrap;
        }

        h3 {
            font-family: 'Barlow', sans-serif;
            font-weight: 500;
            color: $primary_color;
            text-transform: capitalize;
            font-size: $medium_font + 2px;
            margin-bottom: 30px;

            @include for-size(large-desktop) {
                font-size: $medium_font + 6px;
                margin-bottom: 40px;
            }
        }
    }
}