#members {
    position: relative;
    margin-bottom: 260px;

    @include for-size(large-desktop) {
        margin-bottom: 350px;
    }

    @include for-size(big-desktop-up) {
        margin-bottom: 230px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 200px;
    }

    &::after {
        position: absolute;
        top: -120px;
        right: 0;
        content: "";
        width: 370px;
        height: 460px;
        background: $base_color;
        z-index: -1;
        box-shadow: -10px 10px 50px rgba(163, 163, 163, 0.17);

        @include for-size(large-desktop) {
            width: 420px;
        }

        @include for-size(big-desktop-up) {
            top: -100px;
            width: 310px;
            height: 400px;
        }

        @include for-size(desktop-up) {
            top: -80px;
            width: 290px;
            height: 360px;
        }

        @include for-size(tablet-landscape-up) {
            top: -40px;
            height: 300px;
        }

        @include for-size(mobile) {
            display: none;
        }

    }

    .member_wrap {
        .member_title {
            @include main_title_wrap;
            text-align: right;
        }

        .main_title {
            p {
                display: inline-block;
                max-width: calc(100% - 300px);

                @include for-size(desktop-up) {
                    max-width: 100%;
                }

            }
        }

        .member_listing {
            position: relative;
            margin-top: 80px;

            @include for-size(large-desktop) {
                margin-top: 70px;
            }

            @include for-size(big-desktop-up) {
                margin-top: 70px;
            }

            @include for-size(desktop-up) {
                margin-top: 0px;
            }


            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                background-image: url("../images/testimonial_before_img.png");
                background-size: contain;
                background-repeat: repeat;
                width: 100%;
                height: 650px;
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: center;

                @media (max-width: 599px) {
                    flex-wrap: wrap;
                }

                li {
                    padding: 30px;
                    transition: all linear 0.3s;

                    @include for-size(large-desktop) {
                        padding: 60px;
                    }

                    @include for-size(phone-only) {
                        padding: 15px;
                    }



                    &:hover {
                        .member_info {
                            opacity: 1;
                        }
                    }

                    .img_wrap {
                        position: relative;

                        @include for-size(mobile) {
                            width: 200px;
                            height: 200px;
                            margin: 0 auto;
                        }
                    }

                    img {
                        width: 200px;
                        height: 200px;
                        object-position: top;
                        object-fit: cover;
                        border-radius: 50%;

                        @include for-size(desktop-up) {
                            width: 150px;
                            height: 150px;
                        }
                        @include for-size(mobile) {
                            width: 200px;
                            height: 200px;
                        }
                    }

                    .member_info {
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background: rgba(255, 148, 59, 0.4);
                        border-radius: 50%;
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        transition: all linear 0.3s;

                        a {
                            color: $base_color;
                            font-size: $medium_font;
                        }
                    }
                }
            }
        }
    }
}