#portfolio {
    position: relative;
    margin-bottom: 800px;

    @include for-size(large-desktop) {
        margin-bottom: 900px;
    }

    @include for-size(big-desktop-up) {
        margin-bottom: 770px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 670px;
    }

    @include for-size(tablet-landscape-up) {
        margin-bottom: 120px;
    }

    @include for-size(phone-only) {
        margin-bottom: 0;
    }

    @include for-size(mobile) {
        margin-bottom: 0;
    }


    &::after {
        position: absolute;
        top: -100px;
        right: 0;
        content: "";
        width: 480px;
        height: 500px;
        background-image: url("../images/portfolio_after_img.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
        z-index: -1;
    }

    .portfolio_wrap {
        .portfolio_title {
            text-align: right;
            @include main_title_wrap;

            .main_title {
                p {
                    width: 650px;
                    display: inline-block;

                    @include for-size(desktop-up) {
                        width: 100%;
                    }
                }
            }

        }

        .portfolio_listing {
            position: relative;

            &::before {
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                background-image: url("../images/portfolio_before_img.png");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 100%;
                height: 550px;
            }

            ul {
                @include for-size(tablet-landscape-up) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                }

                li {
                    display: inline-block;
                    text-align: center;

                    @include for-size(tablet-landscape-up) {
                        position: static !important;
                        margin: 0 30px 40px 0;
                    }

                    @include for-size(mobile) {
                        margin-right: 0;
                    }

                    img {
                        width: 250px;

                        @include for-size(large-desktop) {
                            width: 320px;
                        }

                        @include for-size(desktop-up) {
                            width: 200px;
                        }

                        @include for-size(mobile) {
                            width: 100%;
                        }
                    }

                    .portfolio_listing_wrap {
                        position: relative;
                        overflow: hidden;
                        transition: all linear 0.3s;

                        &:hover {
                            .portfolio_listing_hover {
                                bottom: 0;
                            }
                        }

                        .portfolio_listing_hover {
                            background: $primary_color;
                            position: absolute;
                            left: 0;
                            bottom: -298px;
                            width: 100%;
                            height: 100%;
                            text-align: left;
                            padding: 30px;
                            display: flex;
                            justify-content: center;
                            align-items: flex-end;
                            transition: all linear 0.3s;

                            @include for-size(large-desktop) {
                                bottom: -380px;
                            }

                            @include for-size(desktop-up) {
                                padding: 15px;
                            }

                            @include for-size(desktop-up) {
                                height: auto;
                                bottom: -345px;

                            }


                            p {
                                font-size: $small_font;
                                font-weight: 600;
                                color: $base_color;

                                @include for-size(desktop-up) {
                                    font-size: $small_font - 2px;
                                }
                            }
                        }
                    }

                    .port_t_l {
                        font-size: $small_font;
                        font-weight: 600;
                        text-transform: capitalize;
                        margin-top: 10px;

                        i {
                            color: $primary_color;
                            margin-right: 8px;
                        }
                    }
                }

                li:first-child {
                    position: absolute;
                    top: -100px;
                    right: 55%;

                    @include for-size(desktop-up) {
                        top: 0;
                        right: 48%;
                    }
                }

                li:nth-child(2) {
                    position: absolute;
                    top: 0;
                    right: 30%;

                    @include for-size(desktop-up) {
                        top: 60px;
                        right: 20%;
                    }
                }

                li:nth-child(3) {
                    position: absolute;
                    top: 80px;
                    left: 0;

                    @include for-size(desktop-up) {
                        top: 100px;
                        left: 20px;
                    }
                }

                li:nth-child(4) {
                    position: absolute;
                    top: 300px;
                    left: 27%;

                    @include for-size(large-desktop) {
                        top: 400px;
                    }

                    @include for-size(desktop-up) {
                        top: 300px;
                        left: 30%;
                    }

                    @media (min-width: 1200px) and (max-width: 1300px) {
                        left: 24%;
                    }
                }

                li:last-child {
                    position: absolute;
                    top: 400px;
                    right: 30%;

                    @include for-size(large-desktop) {
                        top: 500px;
                    }

                    @include for-size(desktop-up) {
                        right: 20%;
                    }
                }
            }
        }
    }
}