#services {
    margin-bottom: 300px;

    @include for-size(large-desktop) {
        margin-bottom: 330px;
    }

    @include for-size(big-desktop-up) {
        margin-bottom: 280px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 260px;
    }

    @include for-size(tablet-landscape-up) {
        margin-bottom: 240px;
    }

    @include for-size(phone-only) {
        margin-bottom: 170px;
    }

    .services_wrap {
        position: relative;
        margin-left: 320px;

        @include for-size(big-desktop-up) {
            margin-left: 220px;
        }

        @include for-size(desktop-up) {
            margin-left: 150px;
        }

        @include for-size(phone-only) {
            margin-left: 0;
        }

        &::before {
            background: #ff943b;
            width: 500px;
            height: calc(100% + 270px);
            position: absolute;
            left: -320px;
            top: -130px;
            content: "";
            box-shadow: 20px 0px 20px #ff933b54;
            z-index: -1;

            @include for-size(big-desktop-up) {
                left: -150px;
                width: 350px;
            }

            @include for-size(desktop-up) {
                left: -150px;
                width: 330px;
            }

            @include for-size(tablet-landscape-up) {
                height: calc(100% + 150px);
                top: -80px;
            }

            @include for-size(phone-only) {
                display: none;
            }

        }

        .sevices_title {
            @include main_title_wrap;

            @include for-size(big-desktop-up) {
                p {
                    width: 800px;
                }
            }
        }

        .services_listing {
            ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    background: $base_color;
                    padding: 50px 0;
                    text-align: center;
                    width: calc(33.33% - 30px);
                    margin: 0 30px 30px 0;
                    box-shadow: 0 0px 2px rgba(143, 143, 143, 0.38);
                    transition: all ease-in-out 0.3s;

                    @include for-size(tablet-landscape-up) {
                        width: calc(50% - 30px);
                    }

                    @include for-size(mobile) {
                        width: 100%;
                        margin-right: 0;
                    }

                    &:hover {
                        box-shadow: 0 10px 30px rgba(143, 143, 143, 0.15);
                        color: $primary_color;
                        border: none;
                    }

                    &:hover i {
                        color: $primary_color;
                    }

                    i {
                        font-size: 50px;
                        margin-bottom: 20px;
                        color: $neutral_color;
                    }

                    p {
                        font-size: $small_font;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}