#testimonial {
    // background-color: $primary-color;
    padding: 76px 0;
    margin-bottom: 140px;

    @include for-size(large-desktop) {
        margin-bottom: 150px;
    }

    @include for-size(big-desktop-up) {
        margin-bottom: 80px;
    }

    @include for-size(desktop-up) {
        margin-bottom: 80px;
    }

    @include for_size(phone-only) {
        margin-bottom: 50px;
    }

    @include for_size(mobile) {
        margin-bottom: 0;
    }

    // @include for_size(tablet-landscape-up) {
    //     display: none;
    // }


    .testimonial_title {
        @include main_title_wrap;
        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            background-image: url("../images/testimonial_before_img.png");
            background-size: cover;
            background-position: center;
            width: 666px;
            height: 712px;
            z-index: -1;

            @include for-size(phone-only) {
                display: none;
            }
        }

        .main_title {
            p {
                max-width: calc(100% - 300px);

                @include for-size(large-desktop) {
                    max-width: calc(100% - 500px);
                }

                @include for-size(desktop-up) {
                    max-width: 100%;
                }
            }
        }
    }

    .says {
        // position: relative;
        // max-width: calc(100% - 300px);
        // margin: 0 auto;
        // margin-top: 60px;

        @include for-size(large-desktop) {
            margin-bottom: 100px;
        }

        @include for-size(big-desktop-up) {
            margin-bottom: 50px;
        }

        .owl-dots {
            text-align: center;
            margin-top: 25px;

            .owl-dot {
                background: #ffd4b1;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                margin-right: 6px;
            }

            .owl-dot.active {
                background: $primary_color;
                height: 15px;
                width: 15px;
            }
        }

        .owl-nav {
            @include for_size(desktop-up) {
                display: none;
            }

            button {
                span {
                    display: none;
                }
            }

            .owl-prev {
                background-image: url("../images/testimonial_arrow.png");
                width: 66px;
                height: 47px;
                background-repeat: no-repeat;
                opacity: 0.4;
                position: absolute;
                top: 50%;
                left: -90px;
                margin-top: -50px;
                transform: rotateY(180deg);

                &:hover {
                    background-position: 0 -47px;
                    opacity: 1;
                }
            }

            .owl-next {
                background-image: url("../images/testimonial_arrow.png");
                width: 66px;
                height: 47px;
                background-repeat: no-repeat;
                position: absolute;
                top: 50%;
                right: -50px;
                margin-top: -50px;

                // transition: $transition;
                &:hover {
                    background-position: 0 -47px;
                }
            }
        }
    }

    .testimonial_slider {
        min-height: 340px;

        @include for-size(desktop-up) {
            min-height: 0;
        }

        // @include for_size(tablet-portrait-up) {
        //     grid-template-columns: 1fr;
        //     justify-items: center;
        // }

        .people_image {
            display: inline-block;
            position: relative;
            top: 60px;
            left: 50px;

            @include for-size(desktop-up) {
                top: 0;
                left: 50%;
                margin-left: -100px;
            }

            img {
                width: 180px;
                height: 180px;
                object-fit: cover;
                object-position: center;

                @include for-size(large-desktop) {
                    width: 210px;
                    height: 210px;
                }

                // @include for_size(tablet-landscape-up) {
                //     width: 140px;
                //     height: 140px;
                // }
            }
        }

        .people_view {
            padding: 70px;
            background: $primary_color;
            position: absolute;
            top: 0;
            left: 200px;
            // box-shadow: -20px 10px 20px #ff933b6e;
            z-index: -1;

            @include for-size(large-desktop) {
                padding: 100px;
            }

            @include for-size(desktop-up) {
                position: static;
                padding: 50px;
                margin-top: -40px;
            }

            @include for-size(mobile) {
                padding: 50px 20px 30px;
            }


            h4 {
                position: relative;
                color: $base_color;
                font-size: $small_font;
                font-weight: 500;
                line-height: 36px;

                @include for-size(mobile) {
                    font-size: $small_font - 4;
                    line-height: 30px;
                }

                &::after {
                    position: absolute;
                    top: -30px;
                    left: 0;
                    content: "";
                    background-image: url("../images/quatation.png");
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 75px;

                    @include for_size(desktop-up) {
                        top: 0;
                    }
                }
            }

            p {
                line-height: 36px;
                font-weight: 600;
                color: $base_color;
                font-style: italic;

                // @include for_size(tablet-landscape-up) {
                //     font-size: 16px;
                //     line-height: 30px;
                // }


                span {
                    font-weight: 500;
                }
            }
        }
    }
}